body{
	background-image: url(technologyimage.jpg);
	background-size: cover;
	background-attachment: fixed;
}

nav{
	display: flex;
	justify-content: space-around;
    background-color: black;
	color: green;
	align-items: center;
	height: 15vh;
}
#brand-name{
	font-size: 50px;
	letter-spacing: 10px;
	border-radius: 20px;
	background-color: green;
	padding: 10px;
	color: white;
	
}

  #nav-items{
	display: flex;
	list-style: none;
	border-radius: 0 0 20px 20px;
}
#nav-items li{
      padding: 20px;
      letter-spacing: 2px;
}
#nav-items li a{
	text-decoration: none;
	color: green;
	font-weight: bold;
	
}
#nav-items a:hover{
         color:blue;
         
         font-size: 20px;
}
#burger {
	display: flex;
	flex-direction: column;
}
#burger{
	display:none;
}
#burger> div{
	background-color: white;
	width: 30px;
	height: 3px;
	margin: 6px;


}
.home{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: red;
	align-items: center;
	margin:auto;
	background-color:brown;
	width :70%;

}

.home h1,h2,h3,h4{
	font-size: 160%;
	padding: 3px;
	margin:0px;
	color: white;
	font-weight: bolder;
}




.aboutme{
			display: flex;
			justify-content: space-around;
			color: white;
			background-color: black;
			box-sizing: border-box;
			flex-direction: column; 
			align-items: center;
			width: 70%;
			border-radius:30px;
			align-content: center;
		  margin: auto;
			padding:10px;
			font-size: 25px;
		    
		

          }
           img{
          	width: 40vh;
          	height: 35vh;
          	border-radius: 210px;
          	margin: 0 0 30px 0px;
          }
          .aboutme abbr{
          	color:white;
          font-size:20px;
          border:white; 
          }



   /*form*/
          .form{
			display: flex;
			justify-content: space-around;
		      height: 100vh;
		    align-items: center;
		    border-radius: 10px;
		   

			
		}
		#form-style{
			display: flex;
		    justify-content: space-between;
			flex-direction: column;
			background-color: black;
			align-items: center;
			max-height: 100vh;
			width:80vh;
			border-radius: 50px;
			
		}
		#form-style label{
			display: flex;
			justify-content: space-around;
			flex-direction: column;
            color: white;
            padding: 20px;
            font-weight: bolder;
            font-size: 20PX;
            align-items: center;
            word-spacing: 10px;
            
             
		}
		#form-style textarea{
			height: 5vh;
			width:30vh;
		}
		#form-style button{
			display: block;
			font-weight: bolder;
			font-size: 3vh;
			cursor: pointer;
			background-color: black;
			border:solid 3px blue;
			color: white;
			border-radius:30px;
			transition: 0.3s linear;
			padding: 5px;
			margin: 20px;
		}
		#form-style button:hover {
                   transform: scale(1.2);
		}

		#form-stye {
			display: flex;
		}



.footer{
			display: flex;
			justify-content: center;
		  margin:auto;
		

		}
		.footer a{
			margin: 2px;
			font-size: 20px;
			background-color: black;
			border-radius: 50px;
			transition: 0.5s ease-in;

		}
		.footer a i{
			transition: 0.3s linear;
		}
		a:hover i{
			transform: scale(1.4);
		}
		.footer i{
			padding:20px;
		
		}













@media screen and (max-width: 780px){	
#nav-items{
      display: flex;
      position: absolute;
     right:0px;
       margin: 0 8px 0 0;
      flex-direction: column;
      border-radius;
      top: 15.5vh;
      justify-content: space-around;
      background-color: black;
      display: none;
}
#brand-name{
	display: block;
	position: absolute;
	left: 10vh;
}
#nav-items li a{
        color: green;

}
#burger{
	display: block;
	position: absolute;
	right: 10vh;
	cursor: pointer;
	border-radius: 5px;
}




}
